@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Sono:wght@800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
  background-color: rgb(0, 6, 13);
  width: '100vw';
  min-height: 100vh;

}

.navbar {
  display: flex;
  background-image: url('https://creatorverse-production.up.railway.app/static/media/banner.de5659898d3bfc5eb8ea.jpg');
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  height: 600px;
  line-height: 85.76px;
  justify-content: center;
  align-items: bottom;
  flex-direction: column;
  position: relative;
  border-bottom: 2px solid rgb(66, 74, 89);
}

/* .navlinks { */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-around; */
  /* align-content: center; */
  /* width: 50%; */
/* } */

.navlinks a{
  background-color: rgba(81,133,180,255);
  color: white;
  padding: 15px 32px;
  border-radius: 3px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.3px;
  height: 3em;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  border: 2px transparent solid;

}

.navlinks a:hover {
  border: 2px white solid;
  text-decoration: none;
  color: white;
  background-color: rgba(67,115,157,255);

}

.divider {
  width: 50px;
  height: auto;
  display: inline-block;
}

div.navbar h1 {
  font-weight: 800;
  font-size: 8vw;
  font-family: Sono;
  color: white;
  padding: 70px;
}

h3 {
  font-family: Poppins;
  font-weight: 700;
  margin-bottom: 18px;
  color: rgba(81,133,180,255);
  font-size: 40px;
  text-transform: uppercase;
  text-wrap: wrap;
}

.show-creators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5%;
}

.card-container {
  min-width: 580px;
  height: 340px;
  border: 2px solid rgb(66, 74, 89);
  margin: 10px;
  background-color: black;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.card{
  width: 80%;
  height: 80%;
}

.card-description {
  display: flex;
  justify-content: left;
}

.card-socialmedia-icons {
  text-align: left;
  padding-top: 8px;
}

.card-info-edit {
  padding-top: 40px;
  display: flex;
}

form {
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

}

form div {
  display: flex;
  flex-direction: column;
}

input {
  text-decoration: none;
  width: 100%;
  border-radius: 8px;
  height: 70px;
  padding-left: 15px;
  font-size: 19px;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid rgba(81,133,180,255);
}

.form h4 {
  text-align: left;
  display: block;
  font-weight: normal;
  font-size: 22px;
}

.form p {
  display: block;
  text-align: left;
  font-style: italic;
  font-size: 12px;
  padding-bottom: 7px;
}

.form h3 {
  text-align: left;
  width: 770px;
  font-size: 27px;
}

.has-icon {
  padding-left: 15px;
}

label {
  /* border: 3px purple solid; */
  width: 770px;
  padding-bottom: 15px;
}

.bottom-buttons-container {
  display: flex;
  justify-content: center;
  padding: 0px 0px 100px 0px;
  gap: 70px;
}

.bottom-buttons {
    background-color: rgba(81,133,180,255);
    color: white;
    padding: 15px 32px;
    border-radius: 3px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1.3px;
    height: 3em;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    border: 2px transparent solid;
}
  
.bottom-buttons:hover {
    border: 2px white solid;
    text-decoration: none;
    color: white;
    background-color: rgba(67,115,157,255);
}

.buttons-form {
  padding: 0 90px;
}

.delete {
  background-color: rgba(255,96,92,255);
}

.delete:hover {
  background-color: #ff3633;
}

.view-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5%;
}

img {
  width: 400px;
  height: auto;
}

.view-card a {
  text-decoration: none;
  color: aliceblue;
  font-size: 30px;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-left: 0px;
  gap: 20px;
  transition: padding-left 250ms;
}

.view-card a:hover {
  background-color: rgba(67,115,157,255);
  border: 2px white solid;
  text-decoration: none;
  color: white;
  padding-left: 20px;
  border-radius: 3px;
  /* transform: scale(1, 0) */
}

.view-top {
  margin: auto;
  width: 80%;
}

.view-title-icons {
  width: 50%;
  height: auto;
}

.view-top {
  gap: 100px;
}